[submodule "EsoCPU"]
	path = EsoCPU
	url = https://github.com/plato4/EsoCPU.git
[submodule "PuzzleCodingGame.Front/src/engine"]
	path = PuzzleCodingGame.Front/src/engine
	url = https://github.com/plato4/engine.git
